{
  "notes": [
    {
      "before": "",
      "after": ""
    }
  ],
  "photoNote": "",
  "defaultNotes": "",
  "inputText": "",
  "apiId": "",
  "apiHash": "",
  "sessionString": ""
  "botToken": false
}
